<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/transfers.css">
    <title>NoWo | Transfers</title>
  </head>
  <body>

    <%- include('./partials/navbardark.ejs') %>
    <div id="container">
    <div id="lid">
      <h1 id="heading">Transfers</h1>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Timestamp</th>
      </tr>
    <% if(transfers.length>0){ %>
      <% transfers.forEach((transfer) => { %>
        <tr>
          <td><%=transfer.sender_name%></td>
          <td><%=transfer.receiver_name%></td>
          <td><%=transfer.amount_transferred %></td>
          <td><%=transfer.createdAt%></td>
        </tr>
      <% }) %>
    <% } %>
    </table>
    </div>
  </body>
</html>
